# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment
venv/
*.egg-info/

# Ignore local settings and secrets
*.env
*.local

# Ignore database files
db.sqlite3

# Ignore IDE/editor files
.idea/
.vscode/
*.swp