@tailwind base;
@tailwind components;
@tailwind utilities;

/* customToast.css */

/* customToast.css */

.Toastify__toast--success {
    background-color: #1d4ed8; /* Blue color for background */
  }
  
  .Toastify__toast--success .Toastify__progress-bar {
    background-color: #020024; /* Custom progress bar color */
  }
  
  .Toastify__toast--error {
    background-color: #ef4444; /* Red color for errors, optional */
  }
  
  .Toastify__toast-body {
    color: white; /* Text color */
  }
  